{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="loginOuter">
    <form autocomplete="off" id="loginForm">
        <h3 class="heading">Register</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="button" class="btn btn-secondary" id="clearBtn">Clear</button>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>

<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
