
{% extends 'home.html' %}
{% block con %}
<div>
    <h4>Profile</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <!-- <th>Password</th> -->
                <th>Age</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
                <tr>
                    <th>{{data.name}}</th>
                    <th>{{data.age}}</th>
                    <th>{{data.address}}</th>
                    <th>{{data.contact}}</th>
                    <th>{{data.email}}</th>
                    <th><a href='/update/{{data.id}}' class="btn btn-primary">Update</a></th>
                    <th><a href='/delete/{{data.id}}' class="btn btn-delete">Delete</a></th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}